---
---

@import "{{ site.theme }}";

span.icon {
  padding: .25rem .5rem;
  font-size: 150%;
  vertical-align: middle;
}

a span.icon {
  color: #00c000;
}

a:hover span.icon,
a:active span.icon,
a:focus span.icon {
  color: white;
  background-color: #00c000;
}
